<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/2.9.0"
        id        = "ar.com.plopi.employeedirectory"
        versionCode="10"
        version   = "0.7">

    <!-- versionCode is optional and Android only -->

    <name>Libreta de Contactos</name>

    <description>
        Aplicación de Libreta de Contactos
    </description>

    <author href="http://www.plopi.com.ar" email="info@plopi.com.ar">
        Martín Borches
    </author>
    
    <feature name="http://api.phonegap.com/1.0/geolocation" />
    <feature name="http://api.phonegap.com/1.0/contacts" />
    <feature name="http://api.phonegap.com/1.0/camera" />

</widget>
